//------------------------------
// VARIABLES
//------------------------------


// COLORS
//------------------------------
// LLC brand colours
$raspberry:             #b109aa;
$raspberry-light:       #ca62c9;
$raspberry-lighter:     #d16dcd; 

// grays
$gray-darkest:          #1a1a1a;
$gray-darker:           #333;
$gray-dark:             #4d4d4d;
$gray:                  #808080;
$gray-light:            #bbb;
$gray-lighter:          #eaefec;


// TYPOGRAPHY
//------------------------------
$montserrat:            "Montserrat", sans-serif;
$quicksand:             "Quicksand", Helvetica, Arial, sans-serif;
$sans-serif:            $montserrat;
$sans-serif-brand:      $quicksand;

$font-family-base:      $sans-serif;
$font-color-base:       $gray;

$font-size-base:        1.8rem;
$font-size-xlrg:        $font-size-base * 2;
$font-size-lrg:         $font-size-base * 1.5;
$font-size-sml:         $font-size-base * 0.8;
$font-size-xsml:        $font-size-base * 0.7;
$line-height-base:      1.5;
$line-height-compact:   1.3;


