.print-only {
  display: none;
}

@media print {
  .print-hide,
  iframe,
  header, footer,
  .table-of-contents {
    display: none;
  }
  @page {
    margin: 2cm;
  }
  body {
    color: #000;
    background: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.25;
    font-size: 9.5pt;
    font-family: Arial, sans-serif;
  }
  main {
    padding: 0;
  }
  article {
    max-width: 100%;
  }
  header.print-only {
    display: block;
    padding: 0;
    margin: 0;
    background: transparent;
    
    h1 {
      color: black;
      font-size: 20pt;
    }
    h2 {
      margin-bottom: 30px;
      font-size: 10pt;
    }
  }
  h1 {
    font-size: 18pt;
  }
  h2 {
    font-size: 14pt;
  }
  h3 {
    font-size: 12pt;
  }
  h1, h2, h3 {
    page-break-inside: avoid;
    page-break-after: avoid;
    font-weight: bold;;
  }
  article > h2,
  article > h3 {
    margin: 20px 0 0 0;
  }
  img,
  article img {
    max-width: 50%;
  }
  blockquote {
    margin: 0 0 20px;
    padding: 0 10px;
    page-break-inside: avoid;
  }
  pre {
    border: 1px solid #ccc;
    page-break-inside: avoid;
  }
  code {
    font-size: 10pt;
  }
  .hljs {
    font-size: 9.5pt;
    background: transparent;
  }
}

