  <footer>
    <p>© 2011-<span data-year></span> Ladies Learning Code</p>
    <ul>
      <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      <li>Twitter: <a href="https://twitter.com/{{ site.twitter }}">{{ site.twitter }}</a></li>
      <li>Facebook: <a href="http://fb.com/{{ site.facebook }}">fb.com/{{ site.facebook }}</a></li>
    </ul>
  </footer>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/jquery-1.11.3.min.js">\x3C/script>')</script>
  <script src="{{ site.baseurl }}/assets/js/jquery.waypoints.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/custom.js"></script>
</body>
</html>


