  <footer>
    <a href="index.html">Home</a> / <a href="http://{{ site.slack }}.slack.com" target="_blank">Slack group</a>
    <ul>
      <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      <li>Twitter: <a href="https://twitter.com/{{ site.twitter }}">{{ site.twitter }}</a></li>
      <li>Facebook: <a href="http://fb.com/{{ site.facebook }}">fb.com/{{ site.facebook }}</a></li>
    </ul>
    
    <p>© 2011 - <span data-year></span> Ladies Learning Code</p>
  </footer>
  <script src="{{ site.jquery }}"></script>
  <script src="{{ site.js-waypoints }}"></script>
  <script src="{{ site.js-global }}"></script>
</body>
</html>


