<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- This page is public but not meant to show up in search engine results -->
  <meta name="robots" content="noindex, nofollow">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <!-- Syntax highlighting with highlightjs.org -->
  <script src="{{ site.syntaxjspath }}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <link rel="stylesheet" href="{{ site.syntaxcsspath }}">
  
  <link rel="stylesheet" href="{{ site.css-global }}">
  <link rel="icon" type="image/png" href="{{ site.faviconpath }}">
</head>
<body class="{{ page.class }}">
  <header>
    <h1><a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/img/logo-llc-horizontal.svg" alt="{{ site.title }}"></a></h1>
    <h2>{{ site.subtitle }}</h2>
    <nav>
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="http://{{ site.slack }}.slack.com" target="_blank">Slack group</a>
    </nav>
  </header>
  <header class="print-only">
    <h1>Ladies Learning Code | Digital Skills Program</h1>
    <h2>Week {{ page.week }}, Lesson {{ page.lesson }}</h2>
  </header>
