//------------------------------
// GLOBAL STYLES
//------------------------------

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-font-color;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: $gray-darker;
}
a {
  color: $raspberry;
  text-decoration: none;
  
  &:hover {
    color: $gray-darkest;
    text-decoration: underline;
  }
}
header {
  background: $gray-darkest;
  padding: 40px;
  
  h1 {
    font-family: $accent-font;
    margin: 0;
  }
  h2 {
    color: white;
    margin: -15px 0 0 44px;
  }
}
main,
footer {
  padding: 20px 84px;
}
footer {
  border-top: 1px solid $gray-lighter;
  font-size: $small-font-size;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

