//------------------------------
// GLOBAL STYLES
//------------------------------

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $font-color-base;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: $gray-darker;
}
a {
  color: $raspberry;
  text-decoration: none;
  
  &:hover {
    color: $gray-darkest;
    text-decoration: underline;
  }
}
blockquote {
  border: 4px solid rgba($raspberry, 0.2);
  padding: 0 20px;
  margin: 35px 0;
}
ul, ol {
  padding-left: 25px;
}
strong {
  color: $gray-darker;
  font-weight: 300;
}
code {
  color: $gray-darkest;
  font-size: $font-size-base + 0.4;
  
  pre & {
    font-size: $font-size-base;
  }
}
hr {
  border: none;
}
.clear {
  clear: both;
}

// Page layout
//---------------
header {
  background: $gray-darkest;
  padding: 40px 40px 10px;
  
  h1 {
    font-family: $font-size-base;
    margin: 0;
  }
  h2 {
    color: white;
    margin: 0 0 0 44px;
  }
  nav {
    margin-left: 44px;
    
    a {
      text-transform: uppercase;
      font-size: $font-size-xsml;
      padding: 30px 15px 0 0;
      display: inline-block;
      
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
}
main,
footer {
  padding: 40px 85px;
}
footer {
  border-top: 1px solid $gray-lighter;
  font-size: $font-size-sml;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

