//------------------------------
// LESSON PLANS
//------------------------------

.table-of-contents {
  float: right;
  background-color: $gray-lighter;
  padding: 20px 25px;
  border-radius: 8px;
  width: 26%;
  font-size: $font-size-sml;
  position: relative;
  
  @media (max-width: 800px){
    display: none;
  }
  
  p {
    margin: 10px 0 4px;
    text-transform: uppercase;
    color: $gray-darker;
  }
  ul {
    padding-left: 16px;
    margin: 0;
  }
  &.fixed {
    position: fixed;
    top: 40px;
    right: 85px;
    width: 22.5%;
  }
  
  .icon:before {
    content: "\00D7"; /* x */
    font-size: 25px;
    color: $gray-darker;
    position: absolute;
    right: 14px;
    top: 3px;
    cursor: pointer;
  }
  &.collapse {
    width: 42px;
    padding: 0px 10px 5px;
    
    p, ul {
      display: none;
    }
    + article {
      max-width: 85%;
    }
    .icon:before {
      position: static;
      content: "\2630"; /* 3 bar menu */
    }
  }
}
article {
  max-width: 66%;
  
  @media (max-width:800px){
    max-width: 100%;
  }
  h2 {
    margin-top: 70px;
    
    &:first-child {
      margin-top: 15px;
    }
    + h3 {
      margin-top: 30px;
    }
  }
  h3 {
    margin-top: 40px;
  }
  h4 {
    margin-bottom: 0;
    
    + ul,
    + p {
      margin-top: 4px;
    }
  }
  img {
    max-width: 100%;
  }
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

iframe {
  margin-top: 20px;
}
.example {
  border: 1px solid $gray;
  padding: 15px;
  /* font-size: 1.2rem; */
  
  h1, h2, h3 {
    margin-top: 0;
  }
  h1 {
    font-size: 2.4rem;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 1.9rem;
  }
}


// highlight blocks in code samples
code strong {
  background: #ddd;
  color: black;
  display: inline-block;
  font-weight: bold;

  [class^="hljs-"]{
    color: black;
    font-weight: bold;
  }
}


// Lesson 0
// -------------
.menu-icon img {
  height: 20px;
}
.example-img {
  width: 50px;
}


// Lesson 1-1
// -------------
.grouping-elements {
  float: left;
  margin: 0 30px 40px 0;
}

// Lesson 2-1
// -------------
.type {
  width: 210px;
  margin-top: 8px;
  
  &.decorative {
    margin-top: 24px;
  }
}

// Lesson 4-2
// -------------
.week4-2 {
  .example.page-content {
    margin-top: 10px;
  }
  table {
    border-collapse: collapse;
  }
  td {
    border: 1px solid #ccc;
    padding: 10px;
  }
}



