@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url(../fonts/montserrat-regular.woff2) format("woff2"); }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"), url(../fonts/montserrat-bold.woff2) format("woff2"); }
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url(../fonts/pacifico.woff2) format("woff2"); }
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url(../fonts/quicksand.woff2) format("woff2"); }
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #808080;
  font-weight: 300; }

h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 300; }

h1 {
  font-size: 3.96rem;
  letter-spacing: -0.07em;
  color: #b109aa;
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1.3; }

h2 {
  font-size: 2.88rem; }

h3 {
  font-size: 2.34rem; }

h4, h5, h6 {
  font-size: 1.98rem; }

a {
  color: #b109aa;
  text-decoration: none; }
  a:hover {
    color: #1a1a1a;
    text-decoration: underline; }

strong {
  color: #333; }

hr {
  border: none; }

ul, ol {
  padding: 0;
  margin-left: 18px; }
  ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 15px; }

/* for accordion controls */
.summary {
  display: block;
  border: 2px solid #efefef;
  padding: 0 20px;
  margin: 5px 0;
}
.summary h2,
.summary h3,
.summary h4{
  display: inline-block;
  line-height: 1;
}
.summary:before{
  content: "\2BC8";
  color: #000;
  line-height: normal;
  vertical-align: text-top;
}
.summary.opened:before{
  content: "\2BC6";
}
.details{
  display: none;
  border-left: 2px solid rgb(239, 239, 239);
  padding-left: 20px;
}

.btn {
  color: #b109aa;
  border-radius: 4px;
  display: inline-block;
  padding: 4px 8px;
  border: 2px solid #b109aa;
  font-size: 1.26rem;
  text-transform: uppercase; }
  .btn:hover {
    text-decoration: none;
    color: white;
    background: #b109aa; }

.clear {
  clear: both; }

.left {
  float: left;
  margin: 0 20px 20px 0; }

.right {
  float: right;
  margin: 0 0 20px 20px; }

.full-width {
  width: 100%; }

header,
main,
footer {
  padding: 40px 60px; }

header {
  background: #1a1a1a; }
  header h1 {
    color: white;
    margin: 0; }
  header .logo {
    margin-left: -42px; }
  header nav a {
    text-transform: uppercase;
    font-size: 1.26rem;
    padding: 30px 15px 0 0;
    display: inline-block; }
    header nav a:hover {
      color: white;
      text-decoration: none; }

footer {
  border-top: 1px solid #eaefec;
  font-size: 1.44rem; }
  footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }

.home ul.listing {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 80px;
  line-height: 1.3;
  display: flex;
  flex-wrap: wrap; }
  .home ul.listing li {
    margin-bottom: 50px;
    width: 23%;
    flex-wrap: wrap;
    margin-right: 2%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 2px; }
    .home ul.listing li:first-of-type {
      width: 100%;
      border: none;
      padding: 0; }
    @media (max-width: 1024px) {
      .home ul.listing li {
        width: 48%; } }
.home p {
  margin-top: 0; }
.home h2 {
  font-size: 1.26rem;
  text-transform: uppercase;
  margin: 0; }
.home h3 {
  margin-top: 0; }

article {
  max-width: 70%;
  padding-right: 20px; }
  @media (max-width: 900px) {
    article {
      max-width: 100%; } }
  article > h2 {
    margin-top: 100px;
    border-top: 1px solid #bbb;
    padding-top: 15px; }
  article > h3 {
    margin: 50px 0 0; }
  article > h4 {
    margin: 40px 0 0; }
  article img {
    max-width: 100%; }
  article a {
    color: #4d4d4d;
    text-decoration: underline; }
    article a:hover {
      color: #b109aa;
      text-decoration: none; }

code {
  color: #1a1a1a; }
  code strong {
    background: #ddd;
    color: black;
    display: inline-block;
    font-weight: bold; }
    code strong [class^="hljs-"] {
      color: black;
      font-weight: bold; }

code {
  font-size: 1.98rem; }
@-moz-document url-prefix() {
  code {
    font-size: 1.8rem; } }
  h1 code, h2 code, h3 code, h4 code {
    font-size: inherit; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }
  pre code {
    font-size: 1.8rem; }

article > pre {
  margin-bottom: 50px; }
  article > pre + hr {
    margin-top: -35px; }

blockquote {
  border: 4px solid rgba(177, 9, 170, 0.2);
  padding: 0 30px;
  margin: 35px 0 50px; }
  blockquote + blockquote {
    margin-top: -25px; }

.table-of-contents {
  float: right;
  background-color: #eaefec;
  padding: 25px;
  border-radius: 8px;
  width: 28%;
  font-size: 1.44rem; }
  @media (max-width: 900px) {
    .table-of-contents {
      display: none; } }
  .table-of-contents h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.26rem; }
  .table-of-contents h4 {
    border-bottom: 1px solid #808080;
    margin-top: 0;
    padding-bottom: 2px;
    font-size: 1.8rem; }
  .table-of-contents .icon:before {
    content: "\00D7";
    /* x */
    font-size: 30px;
    color: #333;
    float: right;
    position: relative;
    top: -20px;
    cursor: pointer; }
  .table-of-contents.fixed {
    position: fixed;
    top: 40px;
    right: 60px;
    width: 25.4%; }
  .table-of-contents.collapse {
    width: 42px;
    padding: 0px 8px 5px; }
    .table-of-contents.collapse .icon ~ * {
      display: none; }
    .table-of-contents.collapse + article {
      max-width: 85%; }
    .table-of-contents.collapse .icon:before {
      position: static;
      content: "\2630";
      /* 3 bar menu */ }

.toc-container{
  min-height: 65vh;
  overflow-y: auto;
}
.back-to-top{
  background: url(../img/back-top.png);
  background-size: 100%;
  color: black;
  overflow: hidden;
  opacity: 0.4;
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 50px;
  width: 50px;
  text-indent: -999px;
  transition-duration: 0.5s;
}
.back-to-top:hover{
  opacity: 0.65;
}

.example {
  border: 1px solid #808080;
  padding: 15px; }
  .example hr {
    border: inherit; }

.menu-icon img {
  height: 20px; }

.example-img {
  width: 50px; }

.grouping-elements {
  float: left;
  margin: 0 30px 40px 0; }

.module4-2 .example.page-content {
  margin-top: 10px; }
.module4-2 table {
  border-collapse: collapse; }
.module4-2 td {
  border: 1px solid #ccc;
  padding: 10px; }

.print-only {
  display: none; }

@media print {
  .print-hide,
  iframe,
  header, footer,
  .table-of-contents {
    display: none; }

  @page {
    margin: 2cm; }
  body {
    color: #000;
    background: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.25;
    font-size: 9.5pt;
    font-family: Arial, sans-serif; }

  main {
    padding: 0; }

  article {
    max-width: 100%; }

  header.print-only {
    display: block;
    padding: 0;
    margin: 0;
    background: transparent; }
    header.print-only h1 {
      color: black;
      font-size: 20pt; }
    header.print-only h2 {
      margin-bottom: 30px;
      font-size: 10pt; }

  h1 {
    font-size: 18pt; }

  h2 {
    font-size: 14pt; }

  h3 {
    font-size: 12pt; }

  h1, h2, h3 {
    page-break-inside: avoid;
    page-break-after: avoid;
    font-weight: bold; }

  article > h2,
  article > h3 {
    margin: 20px 0 0 0; }

  img,
  article img {
    max-width: 50%; }

  blockquote {
    margin: 0 0 20px;
    padding: 0 10px;
    page-break-inside: avoid; }

  pre {
    border: 1px solid #ccc;
    page-break-inside: avoid; }

  code {
    font-size: 10pt; }

  .hljs {
    font-size: 9.5pt;
    background: transparent; } }
