
    {% include header.html %}

    <main role="main" class="lessons" data-main>
      <nav role="navigation" class="table-of-contents" data-nav>
        <span data-collapse class="icon"></span>
        <h3>Module {{ page.module }}, Lesson {{ page.lesson }}</h3>
        <h4>{{ page.title }}</h4>
      </nav>
      
      <article{% if page.class %} class="{{ page.class }}" {% endif %}>
        <h1>{{ page.title }}</h1>
        {{ content }}
      </article>
    </main>

    {% include footer.html %}